.admin{
   display: flex;
   .admin-nav{
      width: 256px;
      height: 100vh;
     
   }
   .admin-content{
      flex:1;
      height: 100vh;
      background-color: antiquewhite;
   }
    
}
.header{
   width: 100%;
   height: 70px;
   background-color: #000;
   line-height: 70px;
  
   img{
      margin-left: 40px;
   }
   .avator{
      float: right;
   }
   .zhs{
      color: aliceblue;
      float: right;
      margin-right: 250px;
      margin-left: 10px;
   }
}