.admin{
   display: flex;
   .admin-nav{
      width: 200px;
      height: 100vh;
      background-color: aquamarine;
   }
   .admin-content{
      flex:1;
      height: 100vh;
      background-color: antiquewhite;
   }
    
}